<div id="main">
    <section id="links">
        <div class="link-column">
            <h1>Title-Placeholder 1</h1>
            <a href="">Column-Placeholder 1</a><br>
            <a href="">Column-Placeholder 1</a><br>
            <a href="">Column-Placeholder 1</a><br>
            <a href="">Column-Placeholder 1</a><br>
        </div>
        <div class="link-column">
            <h1>Title-Placeholder 2</h1>
            <a href="">Column-Placeholder 2</a><br>
            <a href="">Column-Placeholder 2</a><br>
            <a href="">Column-Placeholder 2</a><br>
            <a href="">Column-Placeholder 2</a><br>
        </div>
        <div class="link-column">
            <h1>Title-Placeholder 3</h1>
            <a href="">Column-Placeholder 3</a><br>
            <a href="">Column-Placeholder 3</a><br>
            <a href="">Column-Placeholder 3</a><br>
            <a href="">Column-Placeholder 3</a><br>
        </div>
        <div class="link-column">
            <h1>Title-Placeholder 4</h1>
            <a href="">Column-Placeholder 4</a><br>
            <a href="">Column-Placeholder 4</a><br>
            <a href="">Column-Placeholder 4</a><br>
            <a href="">Column-Placeholder 4</a><br>
        </div>
    </section>

    <div class="divider"></div>

    <div id="logos">
        <a href=""> <img src="/assets/img/placeholder-512x512.png" alt="Logo 1"> </a>
        <a href=""> <img src="/assets/img/placeholder-512x512.png" alt="Logo 2"> </a>
        <a href=""> <img src="/assets/img/placeholder-512x512.png" alt="Logo 3"> </a>
        <a href=""> <img src="/assets/img/placeholder-512x512.png" alt="Logo 4"> </a>
    </div>

    <section id="disclaimer">
        <p>
            © 2026 HTML-CSS-JS-Model. Todos os direitos reservados. <br>
            Developed by FabricP ~ <a href="">v0.1.0</a>
        </p>
        
    </section>
    
</div>