<div id="main">
    <section id="start">
        <div class="link-column">
            Column-Placeholder 1<br>
            Column-Placeholder 1<br>
            Column-Placeholder 1<br>
            Column-Placeholder 1
        </div>
        <div class="link-column">
            Column-Placeholder 2<br>
            Column-Placeholder 2<br>
            Column-Placeholder 2<br>
            Column-Placeholder 2
        </div>
        <div class="link-column">
            Column-Placeholder 3<br>
            Column-Placeholder 3<br>
            Column-Placeholder 3<br>
            Column-Placeholder 3
        </div>
    </section>

    <div class="divider"></div>

    <div id="logos">
        <a href=""> <img src="/assets/img/placeholder-512x512.png" alt="Logo 1"> </a>
        <a href=""> <img src="/assets/img/placeholder-512x512.png" alt="Logo 2"> </a>
        <a href=""> <img src="/assets/img/placeholder-512x512.png" alt="Logo 3"> </a>
        <a href=""> <img src="/assets/img/placeholder-512x512.png" alt="Logo 4"> </a>
    </div>

    <section id="disclaimer">
        <p>
            © 2026 HTML-CSS-JS-Model. Todos os direitos reservados. <br>
            Developed by FabricP ~ <a href="">v0.1.0</a>
        </p>
        
    </section>
    
</div>