<div id="main">
    <a href="/index.html"> <img src="/assets/img/placeholder-512x512.png" alt="Logo do site"> </a>

    <h1>Nome do Site</h1>

    <nav>
        <a href="">OPÇÃO 1</a> 

        <div class="divider"></div>

        <div class="dropdown">
            <a onclick="showMenu('submenu-placeholder1')">OPÇÃO 2</a>

            <div class="submenu" id="submenu-placeholder1">
                <h1>Hello World!</h1>
            </div>
        </div>

        <div class="divider"></div>

        <div class="dropdown">
            <a onclick="showMenu('submenu-placeholder2')">OPÇÃO 3</a>

            <div class="submenu" id="submenu-placeholder2">
                <a href="">SUB-OPÇÃO 1</a>
                <a href="">SUB-OPÇÃO 2</a>
                <a href="">SUB-OPÇÃO 3</a>
                <a href="">SUB-OPÇÃO 4</a>
                <a href="">SUB-OPÇÃO 5</a>
                <a href="">SUB-OPÇÃO 6</a>
                <a href="">SUB-OPÇÃO 7</a>
                <a href="">SUB-OPÇÃO 8</a>
                <a href="">SUB-OPÇÃO 9</a>
                <a href="">SUB-OPÇÃO 10</a>
            </div>
        </div>

        <div class="divider"></div>

        <a href="">OPÇÃO 4</a>
    </nav>
</div>