<div id="main">
    <!-- Logo do site -->
    <a href="/index.html"> <img src="/assets/img/placeholder-512x512.png" alt="Logo do site"> </a>

    <!-- Nome do site-->
    <h1>Placeholder</h1>

    <!-- Menu do header -->
    <nav>
        <!-- Link direto -->
        <a href="">OPÇÃO 1</a>
        <!-- Divisória vertical -->
        <div class="vertical_divider"></div>
        
        <!-- Submenus -->
        <div class="dropdown">
            <a onclick="showMenu('submenu-placeholder1')">OPÇÃO 2</a>
            <div class="submenu" id="submenu-placeholder1">
                <a href="">SUB-OPÇÃO 1</a>
                <!-- Divisória horizontal -->
                <div class="horizontal_divider"></div>
                <a href="">SUB-OPÇÃO 2</a>
            </div>
        </div>

        <div class="vertical_divider"></div>

        <div class="dropdown">
            <a onclick="showMenu('submenu-placeholder2')">OPÇÃO 3</a>
            <div class="submenu" id="submenu-placeholder2">
                <a href="">SUB-OPÇÃO 1</a>
                <!-- Divisória horizontal -->
                <div class="horizontal_divider"></div>
                <a href="">SUB-OPÇÃO 2</a>
            </div>
        </div>
    </nav>
</div>