<div id="main">
    <a href="/index.html"> <img src="/assets/img/placeholder-512x512.png" alt="Logo do site"> </a>

    <h1>Nome do Site</h1>

    <nav>
        <a href="">OPÇÃO 1</a> 
        | 
        <div class="dropdown">
            <a onclick="showMenu('submenu-placeholder1')">OPÇÃO 2</a>

            <div class="submenu" id="submenu-placeholder1">
                <h1>Hello World!</h1>
            </div>
        </div>
        | 
        <div class="dropdown">
            <a onclick="showMenu('submenu-placeholder2')">OPÇÃO 3</a>

            <div class="submenu" id="submenu-placeholder2">
                <h1>Hello World!</h1>
            </div>
        </div>
    </nav>
</div>