footer #main{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10PX;
}

footer #start{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: whitesmoke;
}

footer .divider {
    width: 95%;
    height: 1px;
    margin: 10px auto;
    background-color: whitesmoke;
}

footer #disclaimer{
    display: flex;
    align-items: center;
    padding: 10px;
    font: normal 10pt Arial;
    color: whitesmoke;
}

footer #logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 100px;
}

footer #logos img{
    width: 75px;
    height: auto;
}

footer #disclaimer a{
    text-decoration: none;
    color: whitesmoke;
}