footer #main{                                   /* Modifica a parte "main" do "footer" */
    display: flex;                              /* Tipo de layout */
    flex-direction: column;                     /* Muda o organização dos elementos filhos [column = vertical / row = horizontal] */
    background-color: rgba(0, 0, 0, 0.7);     /* Cor de fundo */
    border-radius: 10px;                        /* Arredondamento da borda */
}

footer #links{                  /* Modifica a parte "links" do "footer" */
    display: flex;              /* Tipo de layout */
    justify-content: center;    /* Alinhamento horizontal dos elementos filhos */
    gap: 100px;                 /* Espaço entre os elementos filhos */

}

footer .link-column a{          /* Modifica a parte "a" da "link-column" do "footer" */
    text-align: center;         /* Alinhamento do texto */
    color: whitesmoke;        /* Cor do texto */
    font: normal 12pt Arial;    /* Estilo do texto */
    text-decoration: none;      /* Revome o sublinhado de link */
}

footer .link-column h1{     /* Modifica a parte "h1" da "link-column" do "footer" */
    text-align: center;     /* Alinhamento do texto */
    color: whitesmoke;    /* Cor do texto */
    font: bold 12pt Arial;  /* Estilo do texto */
}

footer .divider{                        /* Modifica a parte "divider" do "footer" */
    width: 95%;                         /* Largura da "div" */
    height: 1px;                        /* Altura da "div" */
    margin: 10px auto;                  /* Margem externa da "div" */
    background-color: whitesmoke;     /* Cor de fundo */
}

footer #disclaimer{             /* Modifica a parte "disclaimer" do "footer" */
    display: flex;              /* Tipo de layout */
    align-items: center;        /* Alinhamento vertical dos elementos filhos */
    padding: 10px;              /* Margem interna */
    font: normal 10pt Arial;    /* Estilo do texto */
    color: whitesmoke;        /* Cor do texto */
}

footer #logos{                  /* Modifica a parte "logos" do "footer" */
    display: flex;              /* Tipo de layout */
    flex-wrap: wrap;            /* Faz os elementos da "div" descerem quando a tela ficar menor */
    justify-content: center;    /* Alinhamento horizontal dos elementos filhos */
    column-gap: 100px;          /* Espaço entre colunas dos elementos filhos */
}

footer #logos img{  /* Modifica a parte "img" do "logos" do "footer" */
    width: 75px;    /* Largura da "img" */
    height: auto;   /* Altura da "img" */
}

footer #disclaimer a{       /* Modifica a parte "a" do "disclaimer" do "footer" */
    text-decoration: none;  /* Revome o sublinhado de link */
    color: whitesmoke;    /* Cor do texto */
}