header{
    position: sticky;   /* Gruda o "header" ao rolar a tela */
    top: 0px;           /* Distância do topo que o "header" irá ficar ao rolar a tela [px = pixels] */
    z-index: 1000;      /* Profundidade de exibição do "header" (tipo camadas do PhotoShop [maior = frente]) */
}

header #main{                               /* Modifica a parte "main" do "header" */
    display: flex;                          /* Tipo de layout ([flex = flexbox] atributo que facilita a organização dos elementos filhos) */
    align-items: center;                    /* Alinhamento vertical dos elementos filhos */
    border-radius: 10px;                    /* Arredondamento da borda */
    padding: 0px 30px;                      /* Margem interna (vertical | horizontal) */
    background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo */
    color: whitesmoke;                    /* Cor do texto */ 
}

header div img{             /* Modifica a parte "img" da "div" do "header" */
    width: 50px;            /* Largura da "img" */
    height: auto;           /* Altura da "img" [auto = escala com a largura] */
    border-radius: 10px;    /* Arredondamento da borda */
}

header div h1{              /* Modifica a parte "h1" da "div" do "header" */
    font: bold 20pt Arial;  /* Estilo do texto (tipo | tamanho [pt = points ~1,33px] | fonte) */
    padding: 0px 20px;      /* Margem interna */
    
}

header div nav{         /* Modifica a parte "nav" da "div" do "header" */
    display: flex;      /* Tipo de layout */
    flex-wrap: wrap;    /* Faz os elementos do "nav" descerem quando a tela ficar menor */
    gap: 10px;          /* Espaço entre os elementos filhos do "nav" */
    margin-left: auto;  /* Margem externa esquerda do "nav" [auto = utiliza todo o espaço disponivel] */
}

header div nav a{           /* Modifica a parte "a" da "nav" da "div" do"header" */
    text-decoration: none;  /* Revome o sublinhado de link */
    font: bold 15pt Arial;  /* Estilo do texto */
    color: whitesmoke;    /* Cor do texto */          
}

/* Teste de menu flutuante */
header #test-menu{
    display: none;
    margin-left: auto;
    background-color: whitesmoke;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header div nav a{
    cursor: pointer;
}