main{
    background-color: rgba(0, 0, 0, 0.7);     /* Cor de fundo */
    border-radius: 10px;                        /* Arredondamento da borda */
    color: whitesmoke;                        /* Cor do texto */
}